* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    133deg,
    rgba(27, 27, 27, 1) 0%,
    rgba(55, 46, 232, 1) 100%
  );
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  max-width: 25rem;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
  color: rgb(40, 33, 168);
}

form button {
  color: rgb(9, 9, 121);
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: rgb(9, 9, 121);
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 25rem;
}

.todo {
  margin: 0.5rem 0;
  background: white;
  color: rgb(40, 33, 168);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1; /*search*/
}

.complete-button,
.trash-button {
  background-color: rgba(55, 46, 232, 1);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

.complete-button:hover {
  background: rgb(0, 160, 125);
}

.trash-button:hover {
  background: rgb(160, 0, 43);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

input {
  outline: none;
}

option {
  border: none;
  outline: none;
  border-radius: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  box-shadow: none;
  border: none;

  font-family: 'Poppins', sans-serif;
  color: rgb(40, 33, 168);
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.9rem;
  width: 25rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  background: rgba(55, 46, 232, 1);
  top: 0;
  right: 0;
  line-height: 100%;
  padding: 1rem;
  pointer-events: none;
  transition: all.3s ease;
}

.select:hover::after {
  background-color: white;
  color: rgba(55, 46, 232, 1);
}
